.env
data
!data/.gitkeep
!data/graphs/.gitkeep
!data/source/.gitkeep
!data/manifests/.gitkeep
!data/ttl/additional/.gitkeep
!data/ttl/main/.gitkeep
!data/xml/.gitkeep
!services/researchspace/apps/sari/data
!scripts/data
experiments/output/*.*
/static/
.ipynb_checkpoints
local-scripts
settings.json
*.numbers
__pycache__
.task
.vscode
docker-compose.override.yml