.env
data
!data/.gitkeep
!data/source/.gitkeep
!data/manifests/.gitkeep
!data/ttl/additional/.gitkeep
!data/ttl/main/.gitkeep
!data/xml/.gitkeep
.ipynb_checkpoints
local-scripts
settings.json
*.numbers
__pycache__