[[> partial:contentHeader]]

<semantic-table
    query="SELECT ?image ?iiif_url WHERE {
        ?image a crmdig:D1_Digital_Object ;
            la:access_point ?iiif_url
    }"
    number-of-displayed-rows="100"
    tuple-template="{{> imageTemplate}}"
>
    <template id="imageTemplate">
        <div style="padding:0px;">
            <div class="text-center panel panel-default" style="border:none;margin-right:0px;height:200px;width: 100%;">
              <div class="panel-body" style="height: 200px;">
                <img src="{{iiif_url.value}}/full/200,200/0/default.jpg" style="max-width:200px; margin: 0 auto;" class="img-rounded">
              </div>
            </div>
          </div>
    </template>
</semantic-table>

[[> partial:contentFooter]]